.map {
    background-color: white;
}

.burg {
    max-width: 15%;
    height: auto;
    margin: auto;
}

.panda {
    max-width: 15%;
    height: auto;
    margin: auto;
}

.starbucks {
    max-width: 17%;
    height: auto;
    margin: auto;
}

.pollo {
    max-width: 18%;
    height: auto;
    margin: auto;
}

.mi-apa {
    max-width: 20%;
    height: auto;
    margin: auto;
}

.list-panda, .list-starbucks, .list-pollo, .list-burg {
    display: inline-flex;
    padding: 15px 10px 0px 0px;
    background: lightgray;
    border: 2px solid black;
    font-size: 20px;
}

.list-burg > img {
    max-width: 10%;
    margin: -8px 20px 5px 5px;
}

.list-panda > img {
    max-width: 10%;
    margin: -8px 20px 5px 5px;
}

.list-starbucks > img {
    max-width: 10%;
    margin: -8px 20px 5px 5px;
}

.list-pollo > img {
    max-width: 10%;
    margin: -8px 20px 5px 5px;
}

.settings > h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.settings > p {
    display:inline-flex;
    font-size: 22px;
    padding: 5px 5px 5px 15px;
}

.settings > p > img{
    max-width: 7%;
    height: auto;
    margin: 0px 10px 0px 0px;
}

.restaurant > h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.restaurant > p {
    font-size: 22px;
    padding: 15px 5px 5px 50px;
}

.restaurant > img {
    max-width: 80%;
    height: auto;
    margin: auto;
}

.search {
    margin: auto;
    text-align: center;
}

.search > h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

